html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: rgb(51, 51, 51);
  text-size-adjust: 100%;
  text-rendering: optimizespeed !important;
}
nav {
  font-size: 15px;
}
h2 {
  margin: 0;
}
h4 {
  margin: 0;
  margin-left: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 20px 20px;
}
li:hover {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin: 1rem;
  min-width: 100px;
  font-size: 1rem;
}
input {
  margin-left: 30px;
  min-width: 400px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  transition: border-color 0.2s ease-in-out;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  border-color: #7e7e7e;
  background-color: rgb(224, 224, 224);
}

button {
  background-color: rgb(61, 84, 95);
  border: none;
  bottom: 40px;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(73, 98, 110);
}
.loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(73, 98, 110);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
